<!doctype html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Config Equipment | Solar Cloud - Zever Solar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/css/pages/profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed">
<%- include ../header.html %>
<div class="clearfix">
</div>

<div class="page-container">
    <%- include ../left_menu.html %>

    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="modal fade" id="eq-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">属性</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>序列号:</td>
                                    <td>EA8989113053</td>
                                </tr>
                                </thead>

                                <tr>
                                    <td>类型:</td>
                                    <td>监控器</td>
                                </tr>
                                <tr>
                                    <td>设备名称:</td>
                                    <td>Slave</td>
                                </tr>
                                <tr>
                                    <td>型号:</td>
                                    <td>PMU</td>
                                </tr>
                                <tr>
                                    <td>制造商:</td>
                                    <td>Zeversolar</td>
                                </tr>
                                <tr>
                                    <td>品牌:</td>
                                    <td>Eversolar</td>
                                </tr>
                                <tr>
                                    <td>软件版本号:</td>
                                    <td>12W13806-331B</td>
                                </tr>
                                <tr>
                                    <td>硬件版本号:</td>
                                    <td>L1.5-C1.4-M1.5</td>
                                </tr>
                                <tr>
                                    <td>IP:</td>
                                    <td>225.16.5.62</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="eq-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">设置</h4>
                        </div>
                        <div class="modal-body">
                            <div class="tab-content">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab">修改别名</a>
                                    </li>
                                    <li class="">
                                        <a href="#tab_1_2" data-toggle="tab">删除设备</a>
                                    </li>
                                </ul>
                                <div class="tab-pane active" id="tab_1_1">
                                    <form action="">
                                        <div class="form-group">
                                            <label class="control-label">序列号:</label>
                                            <div>
                                                EA8989113053
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">旧别名:</label>
                                            <div>EA8989113053</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">新别名:</label>
                                            <div>
                                                <input type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-default">确定</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <div class="form-group">
                                        <lable class="control-label">注册码:</lable>
                                        <div>
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default">删除</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        太空站
                        <small>设备管理</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" action="">
                        <div class="form-group"><input class="form-control" type="text" placeholder="序列号"/></div>
                        <div class="form-group"><input class="form-control" type="text" placeholder="注册码"/></div>
                        &nbsp;
                        <button class="btn btn-default" href="">添加监控器</button>

                    </form>
                    <div style="margin-top: 20px;">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>类型</th>
                                    <th>别名</th>
                                    <th>序列号</th>
                                    <th>型号</th>
                                    <th>下载数据</th>
                                    <!--<th>设置</th>-->
                                    <!--<th>属性</th>-->
                                    <th>设置</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="http://solarcloud.zeversolar.com/images/pum.gif" alt=""/></td>
                                    <td><a href="#eq-detail" data-toggle="modal">EA8989113053</a></td>
                                    <td>EA8989113053</td>
                                    <td>PMU</td>
                                    <td> <a href="#"><i class="fa fa-download"></i></a></td>
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <td>
                                        <a href="#eq-config" data-toggle="modal"><i class="fa fa-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="http://solarcloud.zeversolar.com/images/dev1.gif" alt=""/></td>
                                    <td><a href="#eq-detail" data-toggle="modal">8882000A10902151</a></td>
                                    <td>8882000A10902151</td>
                                    <td>TL2000</td>
                                    <td> <a href="#"><i class="fa fa-download"></i></a></td>
                                    <!--<td></td>-->
                                    <!--<td></td>-->
                                    <td>
                                        <a href="#eq-config" data-toggle="modal"><i class="fa fa-cog"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
<%- include ../footer.html %>
<!--[if lt IE 9]>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/assets/plugins/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/assets/plugins/pace.min.js"></script>
<script src="/assets/scripts/app.js" type="text/javascript"></script>
<script>
    jQuery(document).ready(function(){
        App.init();

        $("#config").addClass('active');
        $("#config > a > span.arrow").removeClass().addClass('selected');
        $("#config > .sub-menu > li:nth-child(1)").addClass('active');
    });
</script>
</body>
</html>