<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Station | Solar Cloud - Zever Solar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/jcrop/css/jquery.Jcrop.min.css" rel="stylesheet"/>
    <!--<link href="/assets/plugins/select2/select2.css" rel="stylesheet"/>-->
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/css/pages/profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed">
<%- include ../header.html %>
<div class="clearfix">
</div>

<div class="page-container">
    <%- include ../left_menu.html %>

    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="modal fade" id="GoogleMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Google Map</h4>
                        </div>
                        <div class="modal-body" style="padding:0;">
                            <div id="pvc_map" style="height:400px;"></div>
                        </div>
                        <div class="modal-footer">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="text-align:left;">
                                        <div class="input-group" style="margin-bottom:0;">
                                            <input  class="form-control" type="text" id="map-address" style="width:320px;"/>
                                            <button class="btn btn-primary" type="button" id="map-search">Search</button>
                                        </div>
                                        <span id="map-lat" style="display:none;"></span>
                                        <span id="map-long" style="display:none;"></span>
                                    </td>
                                    <td style="text-align:right;">
                                        <a href="#" class="btn btn-default" id="map-ok">Save changes</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        太空站
                        <small>电站信息</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <img src="http://solarcloud.zeversolar.com/images/add2.gif" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <form action="">

                            <h3>电站信息</h3>

                            <div class="form-group">
                                <label class="control-label">电站名称</label>

                                <input class="form-control" type="text" autocomplete="off" id="stationname" name="stationname"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">公司名称</label>
                                <input class="form-control" type="text" autocomplete="off" id="company"  name="company"/>
                            </div>
                            <div class="form-group">

                                <label class="control-label">预装机容量</label>
                                <input class="form-control"  type="text"/>
                            </div>

                            <div class="pull-right" id="GoogleMapPopup">
                                <a href="#GoogleMap"  data-toggle="modal"> 在地图上标识位置？<i class="fa fa-globe fa-2x"></i></a>
                            </div>
                            <div class="clearfix"></div>

                            <!--<div class="form-group"><label class="control-label visible-ie8 visible-ie9">国家</label>-->
                            <!--<select id="e2" style="width:100%" data-placeholder="选择国家">-->
                            <!--<option value=""></option>-->
                            <!--<optgroup label="Asia">-->
                            <!--<option value="">China</option>-->
                            <!--</optgroup>-->
                            <!--<optgroup label="South America">-->
                            <!--<option value="">America</option>-->
                            <!--</optgroup>-->

                            <!--</select>-->

                            <!--</div>-->
                            <!--<div class="form-group"><label class="control-label visible-ie8 visible-ie9">州/省</label>-->
                            <!--<select id="e4" style="width:100%" data-placeholder="选择州/省">-->
                            <!--<option value=""></option>-->

                            <!--</select>-->

                            <!--</div>-->
                            <div class="form-group">
                                <label class="control-label">城市</label>
                                <input class="form-control" type="text" id="City" value="苏州"/>

                            </div>
                            <div class="form-group">
                                <label class="control-label">街道/门牌号</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">邮编</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">经度</label>
                                <input class="form-control" type="text" id="long"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">纬度</label>
                                <input class="form-control" type="text" id="lat"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">海拔</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">倾斜角</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">CO2减排系数</label>
                                <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">收益系数</label>
                                <input class="form-control" type="text"/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">货币单位</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> $
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> ￥
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> €
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> Kr
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label ">时区</label>
                                <select class="form-control">
                                    <option value="1">(GMT-09:00) 阿拉斯加</option>
                                </select>
                            </div>
                            <div class="form-actions">

                                <button type="submit" class="btn icn-only green">
                                    Submit <i class="m-icon-swapright m-icon-white"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--<div class="col-md-4">-->

                    <!--<p><i class="fa fa-flag"></i>&nbsp; 序列号和注册码你可以在监控器的机身标签上找到，如下图</p>-->

                    <!--<img src="http://solarcloud.zeversolar.com/images/add4new.gif" alt=""/>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../footer.html %>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/pace.min.js"></script>
<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>

<!--<script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>-->
<script src="/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>

<!--<script src="/assets/plugins/select2/select2.min.js"></script>-->

<script src="/assets/plugins/jcrop/js/jquery.color.js"></script>
<script src="/assets/plugins/jcrop/js/jquery.Jcrop.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.9&language=en"></script>
<script src="/assets/scripts/app.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function () {
        App.init();

        $("#config").addClass('active');
        $("#config > a > span.arrow").removeClass().addClass('selected');
        $("#config > .sub-menu > li:nth-child(3)").addClass('active');

        var google_map = {
            map: null,
            marker: null,
            elevator: null,
            min_zoom: 2,
            max_zoom: 6,
            default_zoom_level: 6,
            default_address_level: 1,
//            crosshair: new google.maps.MarkerImage(
//                    '../../../images/crosshairs.png',
//                    new google.maps.Size(25, 25),
//                    new google.maps.Point(0, 0),
//                    new google.maps.Point(12, 12)
//            ),
            geocoder: new google.maps.Geocoder(),
            round_coordinate: function (coord) {
                coord = coord * 100000;
                coord = Math.round(coord);
                coord = coord / 100000;
                return coord;
            },
            show_altitude: function (latlon) {
                this.elevator = new google.maps.ElevationService();
                var locations = [], positionalRequest;
                locations.push(latlon);
                positionalRequest = {
                    'locations': locations
                };
                this.elevator.getElevationForLocations(positionalRequest, function (results, status) {
                    if (status === google.maps.ElevationStatus.OK) {
                        // Retrieve the first result
                        if (results[0]) {
                            $("#map-alt").text(Math.round(results[0].elevation));
                        }
                    }
                });
            },
            show_location: function (location, zoom_level) {
                var elem = this, latLng;
                latLng = new google.maps.LatLng(location.lat(), location.lng());
                this.geocoder.geocode({'latLng': latLng}, function (results, status) {
                    $('#map-address').val(results[elem.default_address_level].formatted_address);
                });
                $("#map-lat").text(this.round_coordinate(location.lat()));
                $("#map-long").text(this.round_coordinate(location.lng()));
                this.marker.setPosition(location);
                this.map.setCenter(location);
                this.map.setZoom(zoom_level);
                this.show_altitude(location);
            },
            geocode_address: function (search_address) {
                var elem = this;
                this.geocoder.geocode({'address': search_address}, function (results, status) {
                    if (status === "OK") {
                        elem.show_location(results[0].geometry.location, elem.default_zoom_level);
                    } else {
                        $("#map-address").val(status);
                    }
                });
                return;
            }
        };

        $('#GoogleMapPopup').click(function () {
            if (google_map.map === null) {
                google_map.map = new google.maps.Map(document.getElementById("pvc_map"), {
                    zoom: 2,
                    center: new google.maps.LatLng(20, 70),
                    minZoom: google_map.min_zoom,
                    //maxZoom: google_map.max_zoom,
                    streetViewControl: true,
                    panControl : false,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    style: google.maps.ZoomControlStyle.SMALL,
                    mapTypeId: google.maps.MapTypeId.ROADMAP //HYBRID
                });

                // add click listener to place markers on the map
                google.maps.event.addListener(google_map.map, 'click', function (event) {
                    google_map.show_location(event.latLng, google_map.map.getZoom());
                });

                // add listener to the end of dragging marker
                google.maps.event.addListener(google_map.map, "dragend", function () {
                    google_map.show_location(google_map.map.getCenter(), google_map.map.getZoom());
                });

                google_map.marker = new google.maps.Marker({
                    map: google_map.map,
                    draggable: true,
                    icon: google_map.crosshair
                });

//                google.maps.event.addListener(google_map.marker, 'drag', function(event) {
//                    console.debug('new position is '+event.latLng.lat()+' / '+event.latLng.lng());
//                });

                google.maps.event.addListener(google_map.marker, 'dragend', function(event) {
//                    console.debug('final position is '+event.latLng.lat()+' / '+event.latLng.lng());
                    google_map.show_location(event.latLng, google_map.map.getZoom());
                });
            }

            var search_address = $("#City").val();
            if (search_address.length > 0) {
                google_map.geocode_address(search_address);
            }

        });

        $('#map-search').click(function () {
            var search_address = $("#map-address").val();
            if (search_address.length > 0) {
                google_map.geocode_address(search_address);
            }
        });
        $('#map-ok').click(function () {
            $('#City').val($('#map-address').val());
            $('#lat').val($('#map-lat').text());
            $('#long').val($('#map-long').text());
            $('#GoogleMap').modal('hide');
        });
    });
</script>
</body>
</html>