<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Create Station | Solar Cloud - Zever Solar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>-->
    <link href="/assets/plugins/select2/select2.css" rel="stylesheet"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME STYLES -->
    <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/css/pages/profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed">
<%- include header.html %>
<div class="clearfix">
</div>

<div class="page-container">
    <%- include left_menu.html %>

    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        新增电站
                        <small>设备信息</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <img src="http://solarcloud.zeversolar.com/images/add2.gif" alt=""/>
                    </div>
                    <div class="col-md-6">
                        <form action="" class="form-horizontal">
                            <h3>设备信息</h3>

                            <div class="form-group">
                                <label class="control-label">序列号</label>
                                <div class="input-group">
                                    <input class="form-control " type="text" autocomplete="off" id="psno" name="psno"/>
                                   <span class="input-group-btn">
									    <button class="btn default date-range-toggle" type="button"> <i class="fa fa-exclamation-triangle"></i></button>
									</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">注册码</label>
                                <div class="input-group">
                                    <input class="form-control " type="text" autocomplete="off" id="registno" name="registno"/>
                                    <span class="input-group-btn">
									    <button class="btn default date-range-toggle" type="button"> <i class="fa fa-exclamation-triangle"></i></button>
									</span>

                                </div>
                            </div>
                            <h3>电站信息</h3>

                            <div class="form-group">
                                <label class="control-label">电站名称</label>

                                <input class="form-control" type="text" autocomplete="off" id="stationname" name="stationname"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">公司名称</label>
                                <input class="form-control" type="text" autocomplete="off" id="company" name="company"/>
                            </div>
                            <div class="form-group">

                                <label class="control-label">预装机容量</label>
                                <input class="form-control " type="text"/>
                            </div>
                            <div class="form-group"><label class="control-label visible-ie8 visible-ie9">国家</label>
                                <select id="e2" style="width:100%" data-placeholder="选择国家">
                                    <option value=""></option>
                                    <optgroup label="Asia">
                                        <option value="">China</option>
                                    </optgroup>
                                    <optgroup label="South America">
                                        <option value="">America</option>
                                    </optgroup>

                                </select>

                            </div>
                            <div class="form-group"><label class="control-label visible-ie8 visible-ie9">州/省</label>
                                <select id="e4" style="width:100%" data-placeholder="选择州/省">
                                    <option value=""></option>

                                </select>

                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="城市"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="街道/门牌号"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="邮编"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="经度"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="纬度"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="海拔"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="倾斜角"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="CO2减排系数"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="收益系数"/>
                            </div>
                            <div class="form-group">
                                <div class="input-group" id="panel">
                                    <input class="form-control" id="address" type="textbox"
                                           value="Egensevej 194 Storvorde" placeholder="your address">

                                    <div class="input-group-btn">
                                        <input class="btn" id="codeAddress" type="button" value="定位">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="map-canvas" style="height: 200px;width: auto;"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">货币单位</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> $
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> ￥
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> €
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="currency"/> Kr
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <select id="e3" style="width:100%" data-placeholder="时区">
                                    <option value=""></option>

                                    <option value="1">(GMT-09:00) 阿拉斯加</option>
                                </select>
                            </div>
                            <div class="form-actions">
                                <button type="reset" class="btn btn-default">Reset</button>
                                &nbsp;
                                <button type="submit" class="btn icn-only green">
                                    Submit <i class="m-icon-swapright m-icon-white"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!--<div class="col-md-4">-->

                        <!--<p><i class="fa fa-flag"></i>&nbsp; 序列号和注册码你可以在监控器的机身标签上找到，如下图</p>-->

                        <!--<img src="http://solarcloud.zeversolar.com/images/add4new.gif" alt=""/>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer.html %>
<!--[if lt IE 9]>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<!--<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>-->
<script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!--<script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>-->
<script src="/assets/plugins/select2/select2.min.js"></script>
<script src="/assets/plugins/pace.min.js"></script>
<!--<script src="http://map.google.com/maps/api/js?sensor=false"></script>-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/assets/scripts/app.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function () {
        App.init();

        $("#powerlist").addClass('active');
        $("#powerlist > a > span.arrow").removeClass().addClass('selected');
        $("#powerlist > .sub-menu > li:nth-child(2)").addClass('active');

        $("#e2").select2();
        $("#e3").select2();
        $("#e4").select2();

        var geocoder;
        var map;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 8,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }

        $("#codeAddress").click(function () {
            codeAddress();
        });
        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                    var location = results[0].geometry.location;
                    var address = results[0].address_components.reverse();

                    var addds = "";
                    $.each(address, function (key, val) {
                        addds += val['long_name'];
                    });

                    alert("经纬度： " + location.toString() + " 详细地址: " + addds);

                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        /**
         if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(locationSuccess, locationError, {
                // 指示浏览器获取高精度的位置，默认为false
                enableHighAcuracy: true,
                // 指定获取地理位置的超时时间，默认不限时，单位为毫秒
                timeout: 10000,
                // 最长有效期，在重复获取地理位置时，此参数指定多久再次获取位置。
                maximumAge: 3000
            });
        } else {
            alert("Your browser does not support Geolocation!");
        }

         function locationError(error) {
            switch (error.code) {
                case error.TIMEOUT:
                    showError("A timeout occured! Please try again!");
                    break;
                case error.POSITION_UNAVAILABLE:
                    showError('We can\'t detect your location. Sorry!');
                    break;
                case error.PERMISSION_DENIED:
                    showError('Please allow geolocation access for this to work.');
                    break;
                case error.UNKNOWN_ERROR:
                    showError('An unknown error occured!');
                    break;
            }
        }

         function locationSuccess(position) {
            var coords = position.coords;
            var latlng = new google.maps.LatLng(
                    // 维度
                    coords.latitude,
                    // 精度
                    coords.longitude
            );
            var myOptions = {
                // 地图放大倍数
                zoom: 12,
                // 地图中心设为指定坐标点
                center: latlng,
                // 地图类型
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            // 创建地图并输出到页面
            var myMap = new google.maps.Map(
                    document.getElementById("map"), myOptions
            );
            // 创建标记
            var marker = new google.maps.Marker({
                // 标注指定的经纬度坐标点
                position: latlng,
                // 指定用于标注的地图
                map: myMap
            });
            //创建标注窗口
            var infowindow = new google.maps.InfoWindow({
                content: "您在这里<br/>纬度：" +
                        coords.latitude +
                        "<br/>经度：" + coords.longitude
            });
            //打开标注窗口
            infowindow.open(myMap, marker);
        }

         function showError(msg) {
            alert(msg);
        }
         **/
    });
</script>
</body>
</html>