<style>
    .footer {
        padding: 0;
        font-size: 13px;

    }
    .footer .right span{
        padding: 0 20px;
    }
</style>
<div class="footer">
    <div class="">
        <div class="col-md-6" style="padding: 20px 0">
            2014 &copy; Jiangsu Zeversolar New Energy Co.,Ltd
        </div>

        <div class="col-md-6" style="padding: 20px 0;">
            <div class="col-md-offset-4 right">
                <span>V140506</span>
                <span><a href="http://www.zeversolar.com/company/">About Us</a></span>
                <span><a href="http://www.zeversolar.com/contact/">Contact Us</a></span>
            </div>
        </div>
    </div>
</div>