<style>
    .nav.navbar-nav li a {
        display: inline-block;
    }

    .nav.navbar-nav li span {
        color: #999;
        margin-right: 0.4em;
    }
    .header .navbar-nav > li.dropdown.language{
        padding: 4px;
    }
</style>
<div class="header navbar navbar-inverse navbar-fixed-top naonymouse-header">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        <!-- BEGIN LOGO -->
        <a class="navbar-brand" href="/">
            <!--<img src="/assets/img/logo.png" alt="logo" class="img-responsive"/>-->
            <i class="fa fa-cloud fa-2x" style="font-size: 20px;margin-left: 20px;"></i>&nbsp;Solarcloud
        </a>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <img src="/assets/img/menu-toggler.png" alt=""/>
        </a>
        <ul class="nav navbar-nav pull-right">

            <!-- BEGIN LANGUAGE DROPDOWN -->
            <li class="dropdown language">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" src="assets/img/flags/us.png"/>
				<span class="username">
					 US
				</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><img alt="" src="assets/img/flags/es.png"/> Spanish</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/img/flags/de.png"/> German</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/img/flags/ru.png"/> Russian</a>
                    </li>
                    <li>
                        <a href="#"><img alt="" src="assets/img/flags/fr.png"/> French</a>
                    </li>
                </ul>
            </li>
            <!-- END LANGUAGE DROPDOWN -->
            <li>
                <a href="/login">LOGIN</a>
                <!--<span>/</span>-->
                <a href="/signup" style="background: rgba(0,0,0,0.2);border-radius: 3px;">JOIN SOLAR CLOUD</a>
            </li>
            <!--<p class="navbar-text navbar-right"><a href="/login">LOGIN</a></p>-->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>