<style>
    .about {
        float: right;
    }

    .footer .about span {
        padding: 0 20px;
    }
</style>
<div class="footer">
    <div class="footer-inner">
        2014 &copy; Jiangsu Zeversolar New Energy Co.,Ltd
    </div>
    <div class="about">
        <span>V140506</span>
        <span><a href="http://www.zeversolar.com/company/" target="_blank">About Us</a></span>
        <span><a href="http://www.zeversolar.com/contact/" target="_blank">Contact Us</a></span>

        <div class="footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>

    </div>

</div>