<style>
    .footer .about span{
        padding: 0 20px;
    }
</style>
<div class="footer">
    <div class="footer-inner">
        2014 &copy; Jiangsu Zeversolar New Energy Co.,Ltd
    </div>
    <div class="about col-md-4 col-md-offset-4">
        <span>V140506</span>
        <span><a href="http://www.zeversolar.com/company/">About Us</a></span>
        <span><a href="http://www.zeversolar.com/contact/">Contact Us</a></span>
    </div>
    <div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
    </div>
</div>