<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
<li class="sidebar-toggler-wrapper">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler hidden-phone">
    </div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
</li>
<li class="sidebar-search-wrapper">
    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
    <form class="sidebar-search" action="extra_search.html" method="POST">
        <div class="form-container">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </div>
    </form>
    <!-- END RESPONSIVE QUICK SEARCH FORM -->
</li>
<li class="start active ">
    <a href="index.html">
        <i class="fa fa-home"></i>
					<span class="title">
						Dashboard
					</span>
					<span class="selected">
					</span>
    </a>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-cogs"></i>
					<span class="title">
						Layouts
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="layout_language_bar.html">
                Language Switch Bar</a>
        </li>
        <li>
            <a href="layout_horizontal_sidebar_menu.html">
                Horizontal & Sidebar Menu</a>
        </li>

    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-bookmark-o"></i>
					<span class="title">
						UI Features
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="ui_tiles.html">
                Tiles</a>
        </li>
        <li>
            <a href="ui_toastr.html">
                Toastr Notifications</a>
        </li>
        <li>
            <a href="ui_tree.html">
                Tree View</a>
        </li>
        <li>
            <a href="ui_nestable.html">
                Nestable List</a>
        </li>
        <li>
            <a href="ui_ion_sliders.html">
                Ion Range Sliders</a>
        </li>
        <li>
            <a href="ui_noui_sliders.html">
                NoUI Range Sliders</a>
        </li>
        <li>
            <a href="ui_jqueryui_sliders.html">
                jQuery UI Sliders</a>
        </li>
        <li>
            <a href="ui_knob.html">
                Knob Circle Dials</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-table"></i>
					<span class="title">
						Form Stuff
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="form_controls.html">
                Form Controls</a>
        </li>
        <li>
            <a href="form_layouts.html">
                Form Layouts</a>
        </li>
        <li>
            <a href="form_component.html">
                Form Components</a>
        </li>
        <li>
            <a href="form_editable.html">
							<span class="badge badge-roundless badge-warning">
								new
							</span>
                Form X-editable</a>
        </li>
        <li>
            <a href="form_wizard.html">
                Form Wizard</a>
        </li>

    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-sitemap"></i>
					<span class="title">
						Pages
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="page_portfolio.html">
                <i class="fa fa-briefcase"></i>
							<span class="badge badge-warning badge-roundless">
								new
							</span>
                Portfolio</a>
        </li>
        <li>
            <a href="page_timeline.html">
                <i class="fa fa-clock-o"></i>
							<span class="badge badge-info">
								4
							</span>
                Timeline</a>
        </li>
        <li>
            <a href="page_coming_soon.html">
                <i class="fa fa-cogs"></i>
                Coming Soon</a>
        </li>
        <li>
            <a href="page_blog.html">
                <i class="fa fa-comments"></i>
                Blog</a>
        </li>
        <li>
            <a href="page_blog_item.html">
                <i class="fa fa-font"></i>
                Blog Post</a>
        </li>
        <li>
            <a href="page_news.html">
                <i class="fa fa-coffee"></i>
							<span class="badge badge-success">
								9
							</span>
                News</a>
        </li>
        <li>
            <a href="page_news_item.html">
                <i class="fa fa-bell"></i>
                News View</a>
        </li>
        <li>
            <a href="page_about.html">
                <i class="fa fa-group"></i>
                About Us</a>
        </li>
        <li>
            <a href="page_contact.html">
                <i class="fa fa-envelope-o"></i>
                Contact Us</a>
        </li>
        <li>
            <a href="page_calendar.html">
                <i class="fa fa-calendar"></i>
							<span class="badge badge-important">
								14
							</span>
                Calendar</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-th"></i>
					<span class="title">
						Data Tables
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="table_editable.html">
                Editable Datatables</a>
        </li>

    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-file-text"></i>
					<span class="title">
						Portlets
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="portlet_general.html">
                General Portlets</a>
        </li>
        <li>
            <a href="portlet_draggable.html">
                Draggable Portlets</a>
        </li>
    </ul>
</li>
<li class="last ">
    <a href="charts.html">
        <i class="fa fa-bar-chart-o"></i>
					<span class="title">
						Visual Charts
					</span>
    </a>
</li>
</ul>
<!-- END SIDEBAR MENU -->
</div>
</div>