<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
<li class="sidebar-toggler-wrapper">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler hidden-phone">
    </div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
</li>

<li id="override" class="start">
    <a href="#">
        <i class="fa fa-home"></i>
        <span class="title">概述</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li><a href="/override">总览</a></li>
        <li class=""><a href="/events">事件列表</a></li>
    </ul>
</li>
<li id="charts" class="">
    <a href="javascript:;">
        <i class="fa fa-bar-chart-o"></i>
        <span class="title">图表</span>
        <span class="arrow "></span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="/chart/CO2"> CO2减排量和收益</a>
        </li>
        <li>
            <a href="/chart/vpv"> Vpv</a>
        </li>
        <li>
            <a href="/chart/ipv">Ipv</a>
        </li>
        <li>
            <a href="/chart/fac">Fac</a>
        </li>
        <li>
            <a href="/chart/iac">Iac</a>
        </li>
        <li>
            <a href="/chart/vac">Vac</a>
        </li>
        <li>
            <a href="/chart/invtemp">逆变器温度</a>
        </li>
    </ul>
</li>
<li id="powerlist">
    <a href="#">
        <i class="fa fa-list-alt"></i>
        <span class="title">电站管理</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li><a href="/stations">电站列表</a></li>
        <li><a href="/station/create">新增电站</a></li>
    </ul>
</li>
<li id="photowall">
    <a href="/photoWall">
        <i class="fa fa-picture-o"></i>
        <span class="title">照片墙</span>
        <span class="arrow"></span>
    </a>
</li>
<li id="config" class="">
    <a href="javascript:;">
        <i class="fa fa-cogs"></i>
		<span class="title">配置</span>
		<span class="arrow "></span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="/config/equip"> 设备配置</a>
        </li>
        <li>
            <a href="/config/report">报告配置</a>
        </li>
        <li>
            <a href="/config/station">电站配置</a>
        </li>
        <li>
            <a href="/config/share">共享配置</a>
        </li>

    </ul>
</li>

<li id="admin" class="last ">
    <a href="#">
        <i class="fa fa-tachometer"></i>
		<span class="title">管理员</span>
        <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li><a href="/admin/stations">电站查询</a></li>
        <li><a href="/admin/accounts">管理员配置</a></li>
        <li><a href="/admin/pmus">监控器配置</a></li>
        <li><a href="/admin/invs">逆变器配置</a></li>
        <li><a href="/admin/users">用户帐号管理</a></li>
        <li><a href="/admin/events">事件查询</a></li>
        <li><a href="/admin/dicts">参数管理</a></li>
    </ul>
</li>
</ul>
<!-- END SIDEBAR MENU -->
</div>
</div>