<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu">
<li class="sidebar-toggler-wrapper">
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="sidebar-toggler hidden-phone">
    </div>
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
</li>
<li class="sidebar-search-wrapper">
    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
    <form class="sidebar-search" action="extra_search.html" method="POST">
        <div class="form-container">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </div>
    </form>
    <!-- END RESPONSIVE QUICK SEARCH FORM -->
</li>
<li class="start active ">
    <a href="/">
        <i class="fa fa-home"></i>
					<span class="title">
						总览
					</span>
					<span class="selected">
					</span>
    </a>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-bar-chart-o"></i>
					<span class="title">
						图表
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="#">
                电量及功率</a>
        </li>
        <li>
            <a href="#">
                CO2减排量和收益</a>
        </li>
        <li>
            <a href="#">
                Vpv</a>
        </li>
        <li>
            <a href="#">
                Ipv</a>
        </li>
        <li>
            <a href="#">
                Fac</a>
        </li>
        <li>
            <a href="#">
                Iac</a>
        </li>
        <li>
            <a href="#">
                Vac</a>
        </li>
        <li>
            <a href="#">
                逆变器温度</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-cogs"></i>
					<span class="title">
						配置
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">

        <li>
            <a href="#">
                设备配置</a>
        </li>
        <li>
            <a href="#">
                报告配置</a>
        </li>
        <li>
            <a href="#">
                电站配置</a>
        </li>
        <li>
            <a href="#">
                共享配置</a>
        </li>

    </ul>
</li>
<li class="">
    <a href="javascript:;">
        <i class="fa fa-gift"></i>
					<span class="title">
						用户管理
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="#">
                用户信息修改</a>
        </li>
        <li>
            <a href="#">
                用户密码修改</a>
        </li>
    </ul>
</li>
<!--
<li class="">
    <a href="javascript:;">
        <i class="fa fa-sitemap"></i>
					<span class="title">
						Pages
					</span>
					<span class="arrow ">
					</span>
    </a>
    <ul class="sub-menu">
        <li>
            <a href="page_portfolio.html">
                <i class="fa fa-briefcase"></i>
							<span class="badge badge-warning badge-roundless">
								new
							</span>
                Portfolio</a>
        </li>
        <li>
            <a href="page_timeline.html">
                <i class="fa fa-clock-o"></i>
							<span class="badge badge-info">
								4
							</span>
                Timeline</a>
        </li>
        <li>
            <a href="page_coming_soon.html">
                <i class="fa fa-cogs"></i>
                Coming Soon</a>
        </li>
        <li>
            <a href="page_blog.html">
                <i class="fa fa-comments"></i>
                Blog</a>
        </li>
        <li>
            <a href="page_blog_item.html">
                <i class="fa fa-font"></i>
                Blog Post</a>
        </li>
        <li>
            <a href="page_news.html">
                <i class="fa fa-coffee"></i>
							<span class="badge badge-success">
								9
							</span>
                News</a>
        </li>
        <li>
            <a href="page_news_item.html">
                <i class="fa fa-bell"></i>
                News View</a>
        </li>
        <li>
            <a href="page_about.html">
                <i class="fa fa-group"></i>
                About Us</a>
        </li>
        <li>
            <a href="page_contact.html">
                <i class="fa fa-envelope-o"></i>
                Contact Us</a>
        </li>
        <li>
            <a href="page_calendar.html">
                <i class="fa fa-calendar"></i>
							<span class="badge badge-important">
								14
							</span>
                Calendar</a>
        </li>
    </ul>
</li> -->
<li class="last ">
    <a href="#">
        <i class="fa fa-tachometer"></i>
					<span class="title">
						管理员
					</span>
                    <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
        <li><a href="#">电站查询</a></li>
        <li><a href="#">管理员配置</a></li>
        <li><a href="#">监控器配置</a></li>
        <li><a href="#">逆变器配置</a></li>
        <li><a href="#">用户帐号管理</a></li>
        <li><a href="events">事件查询</a></li>
        <li><a href="#">参数管理</a></li>
    </ul>
</li>
</ul>
<!-- END SIDEBAR MENU -->
</div>
</div>