<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Solarcloud - Terms</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/css/pages/login.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <style>
        h2 {
            font-size: 16px;
        }
    </style>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="signup login">
<%- include anonymous_header.html %>
<!-- BEGIN LOGO -->
<div class="logo">
    <!--<img src="assets/img/logo-big.png" alt=""/>-->
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
    <h3>Terms Of Service</h3>


    <div style="padding-bottom: 50px;">
        <p>Dear client, you are welcome to register and become a client of Solar Cloud. Before registration,
            please carefully read this registration agreement. No matter you have actually read this Agreement
            or not, as long as you select "Agree with the above and register" and click "Agree" button, it shall
            be deemed that you have agreed and signed this service agreement.</p>
        <ol>
            <li>
                <h2> General Rules</h2>

                <p>
                    1.1 Solar Cloud is such PV(photovoltaic) remote monitoring system as supplied by Jiangsu Zeversolar
                    New Energy Co., Ltd. (hereinafter called as "Zeversolar").
                </p>

                <p>
                    1.2 All ownership right, explanation right and operation right of all Solar Cloud services shall be
                    possessed and covered by Zeversolar.
                </p>

                <p>1.3 This Agreement will be updated from time to time by Zeversolar. The clients shall immediately
                    read and agree. Zeversolar shall not cover the notification obligation. Such notices, announcements,
                    statements or similar contents in Zeversolar's website shall be deemed as integral part of this
                    Agreement. If a client disagrees Zeversolar's amendments to relevant articles of this Agreement, the
                    client shall have the right to suspend using Solar Cloud. If a client continues using Solar Cloud,
                    it shall be deemed that the client has accepted Zeversolar's amendments to relevant articles of this
                    Agreement.</p>
            </li>
            <li>
                <h2>Attentions</h2>

                <p>2.1 After the completion of registration, you should keep confidential all account numbers and
                    passwords, and you should disclose the same to any unauthorized third party. Any loss or damage as
                    arising from the failure of a client to properly keep its account number or passwords shall not be
                    covered or borne by Zeversolar.</p>

                <p>2.2 If you are a power-station manager, we will send verification E-mail to you when you share the
                    power station. After being active, the other party will possess and enjoy such operation power limit
                    that you authorizes. It should be careful and cautious when you share the power station and
                    authorize management power limit, so as to avoid loss or damage due to improper authorization.</p>

                <p>2.3 If necessary, Zeversolar shall have the right to check relevant information of a client or its
                    power station. With the client's consent, Zeversolar may alter and change relevant configuration or
                    information of the power station.</p>
            </li>
            <li>
                <h2>Use Rules</h2>

                <p>3.1 A client shall strictly comply with the management and use rules of Solar Cloud.</p>

                <p>3.2 A client shall comply with relevant laws and regulations, shall not upload any illegal
                    information, and shall not infringe any patent right, copyright, trademark right, reputation right
                    or legitimate interest of any third party. In case of violation, the client shall independently
                    cover and bear all liabilities.</p>

                <p>3.3 A client shall carefully keep its Solar Cloud account numbers and passwords. It shall
                    independently cover and bear all losses as arising from improper management and use of its account
                    numbers and passwords, including all loss as arising from improper use of the client, its authorized
                    third party or its unauthorized third party. If the client finds that its account is used by an
                    unauthorized third party or its account information is disclosed, it shall immediately modify the
                    passwords and notify us.</p>

                <p>3.4 A client shall authentically provide Solar Cloud with relevant information, including E-mail
                    address, PMU series numbers, etc. The client shall independently cover and bear all liabilities as
                    arising from incorrect or inaccurate information.</p>
            </li>
            <li>
                <h2>Privacy Protection</h2>

                <p>

                <p>4.1 Zeversolar will not publicize, or provide any third party with individual client's registration
                    information and the client's non-publicity contents in Solar Cloud when it uses Solar Cloud, except
                    any of
                    the following circumstances:</p>

                <p>(1) If Zeversolar obtains the client's prior express authorization;</p>

                <p>(2) If Zeversolar is required by relevant laws and regulations;</p>

                <p>(3) If Zeversolar is required by competent government departments;</p>

                <p>(4) If Zeversolar is to safeguard public interests; or</p>

                <p>(5) If Zeversolar is to improve the service quality of Solar Cloud.</p>

                <p>4.2 Zeversolar will possibly cooperate with third party in providing a client with relevant network
                    service. In such event, if such third party agrees to equally cover and bear client privacy
                    protection responsibility, then Zeversolar shall have the right to provide such third party with
                    client's registration information.</p>

                <p>4.3 Under the precondition that individual client's private information is not disclosed, Zeversolar
                    shall have the right to analyze entire client database and commercially use such database.</p>
                </p>
            </li>
            <li>
                <h2>Disclaimer</h2>

                <p>5.1 Zeversolar shall make all efforts to ensure accuracy and completeness of the information in Solar
                    Cloud.
                    In case of such information or data errors as arising from a client's violation of the use rules,
                    Zeversolar
                    shall cover no liability.</p>

                <p>5.2 If network service suspension or other defects as arising from force majeure or such reasons out
                    of
                    Zeversolar's control, Zeversolar shall cover no liability, but shall make all efforts to reduce
                    client's
                    loss and effect as arising herefrom.</p>

                <p>5.3 If necessary, Zeversolar may check relevant information of client's power station. With the
                    client's
                    consent, Zeversolar may modify and adjust relevant configuration of the power station.</p>

                <p>5.4 Zeversolar shall cover and bear no liability in case of quality problem and any loss as arising
                    from the
                    following products or services that Zeversolar provides for a client:</p>

                <p>(1) Any product or service that Zeversolar presents to a client;</p>

                <p>(2) Such products or services that Zeversolar provide (free of charge) for a client.</p>

                <p>5.5 If a client violates the use rules or relevant laws or regulations, Zeversolar shall have the
                    right to
                    stop and suspend the service, no matter it is notified or not. In such event, Zeversolar shall cover
                    and
                    bear no liability against the client or any third party.</p>

                <p>5.6 With respect to such client who intentionally damages Solar Cloud System and uses the System to
                    cause
                    loss of third party, Zeversolar shall reserve the right to prosecute. Such expenses as arising
                    herefrom,
                    including but not limited to lawsuit fee, lawyer's fee, investigation fee and business trip fee
                    shall be
                    fully covered by such client.</p>
            </li>
        </ol>

    </div>

</div>
<!-- BEGIN COPYRIGHT -->
<%- include anonymouse_footer.html %>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>
<script src="assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>

<script src="/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>

<script src="/assets/plugins/pace.min.js"></script>
<!-- END CORE PLUGINS -->

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>