<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Solar Cloud - Zever Solar</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!--<link rel="stylesheet" href="/assets/plugins/revolution_slider/css/rs-style.css" media="screen">-->
    <link rel="stylesheet" href="/assets/plugins/revolution_slider/rs-plugin/css/settings4.1.css" media="screen">

    <!-- BEGIN THEME STYLES -->
    <link href="/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/css/pages/profile.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>

    <style>

        :-webkit-full-screen {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        :-webkit-full-screen-ancestor:root {
            overflow: hidden;
        }

        :-webkit-full-screen-ancestor {
            z-index: auto;
            opacity: 1;
            mask: none;
            clip: auto;
            filter: none;
            -webkit-transform: none;
            -webkit-transition: none;
        }

    </style>
</head>
<body class="page-header-fixed">
<%- include ../header.html %>
<div class="clearfix">
</div>
<div class="page-container">
    <%- include ../left_menu.html %>

    <div class="page-content-wrapper">
        <div class="page-content">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        太空站
                        <small>照片墙</small>
                    </h3>
                </div>
            </div>
            <div id="fs" class="pull-right margin-bottom-10">
                <a class="btn btn-primary" href="/photoWall-input"><i class="fa fa-edit"></i> 编辑</a>
                <button class="btn btn-default" id="slide-fs"><i class="fa fa-arrows-alt"></i> Fullscreen(快捷键F) </button>
            </div>
            <div class="clearfix"></div>

            <div class="clearfix"></div>
            <div class="fullwidthbanner-container slider-main" style="height: 470px !important;">
                <div class="fullwidthabnner">
                    <ul id="revolutionul" style="display:none;">
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="slideleft" data-slotamount="8" data-masterspeed="700" data-delay="9400"
                            data-thumb="assets/img/sliders/revolution/thumbs/thumb3.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="assets/img/sliders/revolution/bg1.jpg" alt="">

                            <div class="caption lfb"
                                 data-x="440"
                                 data-y="55"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">

                                <div style="width: 400px;">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge"> 1.59 KWh</span>
                                            E-Today
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge"> 10.0 KWh</span>
                                            E-Month
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge"> 6.39 MWh</span>
                                            E-Total
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">$ 3192</span>
                                            InCome
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">5.11 T</span>
                                            CO2 Avoided
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li data-transition="slideleft" data-slotamount="8" data-masterspeed="700" data-delay="9400"
                            data-thumb="assets/img/sliders/revolution/thumbs/thumb3.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="assets/img/sliders/revolution/bg1.jpg" alt="">

                            <div class="caption lfb"
                                 data-x="440"
                                 data-y="0"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">

                                <div id="chart" style="height: 400px;width: 500px">

                                </div>
                            </div>
                        </li>
                        <li data-transition="slideleft" data-slotamount="10" data-masterspeed="700"
                            data-delay="9400"
                            data-thumb="assets/img/sliders/revolution/thumbs/thumb4.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="assets/img/sliders/revolution/bg2.jpg" alt="">
                            <div class="caption lfb"
                                 data-x="440"
                                 data-y="0"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">
                                <div id="linechart" style="height: 400px;width: 500px"></div>

                            </div>

                        </li>
                        <li data-transition="slideleft" data-slotamount="10" data-masterspeed="700"
                            data-delay="9400"
                            data-thumb="assets/img/sliders/revolution/thumbs/thumb4.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="assets/img/sliders/revolution/bg1.jpg" alt="">

                            <div class="caption lfb"
                                 data-x="440"
                                 data-y="0"
                                 data-speed="700"
                                 data-start="1000"
                                 data-easing="easeOutExpo">
                                <div id="barchart" style="height: 400px;width: 500px"></div>

                            </div>

                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include ../footer.html %>
<!--[if lt IE 9]>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        type="text/javascript"></script>
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/assets/plugins/pace.min.js"></script>
<script type="text/javascript"
        src="/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins-4.1.min.js"></script>
<script type="text/javascript"
        src="/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution-4.1.min.js"></script>
<script src="/assets/plugins/echarts/echarts-plain.js"></script>
<script src="/assets/scripts/app.js" type="text/javascript"></script>

<script>
    jQuery(document).ready(function () {
        App.init();

        $("#override").addClass('active');
        $("#override > a > span.arrow").removeClass().addClass('selected');
        $("#override > .sub-menu > li:nth-child(1)").addClass('active');


        document.cancelFullScreen = document.webkitCancelFullScreen || document.mozCancelFullScreen || document.msExitFullscreen || document.exitFullscreen;

        document.addEventListener('keydown', function (e) {
            switch (e.keyCode) {
                case 13: // ENTER. ESC should also take you out of fullscreen by default.
                    e.preventDefault();
                    document.cancelFullScreen();
                    break;
                case 70:
                    e.preventDefault();
                    enterFullscreen(document.querySelector('.fullwidthabnner'));
                    break;
            }
        }, false);

        function doFullScreen(elem) {
            if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.requestFullScreen) {
                elem.requestFullScreen();
            }
        }

        function onFullScreenChange() {
            console.log("fullscreen change!");
        };


        function enterFullscreen(elem) {
            var elem = elem || document.body;
            elem.onwebkitfullscreenchange = onFullScreenChange;
            elem.onmozfullscreenchange = onFullScreenChange;
            elem.onfullscreenchange = onFullScreenChange;
            if (document.webkitIsFullScreen) {
                document.cancelFullScreen();
            } else {
                doFullScreen(elem);
            }
        }

        document.getElementById('slide-fs').onclick = function (e) {
            enterFullscreen(document.querySelector('.fullwidthabnner'))
        };


        jQuery('.fullwidthabnner').revolution(
                {
                    delay: 2000,
                    startheight: 580,
                    startwidth: 1150,

                    hideThumbs: 10,

                    thumbWidth: 100,                         // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 4,

                    navigationType: "thumb",                // bullet, thumb, none
                    navigationArrows: "solo",                // nexttobullets, solo (old name verticalcentered), none

                    navigationStyle: "round",                // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                    navigationHAlign: "center",              // Vertical Align top,center,bottom
                    navigationVAlign: "bottom",              // Horizontal Align left,center,right
                    navigationHOffset: 0,
                    navigationVOffset: 20,

                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,

                    touchenabled: "on",                      // Enable Swipe Function : on/off
                    onHoverStop: "off",                       // Stop Banner Timet at Hover on Slide on/off

                    stopAtSlide: -1,
                    stopAfterLoops: -1,

                    hideCaptionAtLimit: 0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                    hideAllCaptionAtLilmit: 0,				// Hide all The Captions if Width of Browser is less then this value
                    hideSliderAtLimit: 0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value

                    shadow: 3,                               //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
                    fullWidth: "off",                       // Turns On or Off the Fullwidth Image Centering in FullWidth Modus
                    fullScreen: "on"
                });

        var myChart = echarts.init(document.getElementById('chart'));
        var lineChart = echarts.init(document.getElementById('linechart'));
        var barChart = echarts.init(document.getElementById('barchart'));

        $(".page-content").resize(function(){

            myChart.resize();
        });
       var option = {
            tooltip : {
                formatter: "{a} <br/>{b} : {c}KW"
            },
            series : [
                {
                    type:'gauge',
                    detail : {formatter:'{value}KW'},
                    data:[{value: 50, name: 'Power'}]
                }
            ]
        };
        var timeTicket;
        clearInterval(timeTicket);
        timeTicket = setInterval(function (){
            option.series[0].data[0].value = (Math.random()*100).toFixed(2) - 0;
            myChart.setOption(option, true);
        },2000);

        myChart.setOption(option);


        var lineoption = {


            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} KW'
                    }
                }
            ],
            series : [
                {
                    name:'最高气温',
                    type:'line',
                    data:[2, 11, 15, 5, 12, 13, 10]

                }
            ]
        };

        lineChart.setOption(lineoption);


       var  baroption = {

            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} KWh'
                    }
                }
            ],
            series : [
                {
                    name:'蒸发量',
                    type:'bar',
                    data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]

                }
            ]
        };

        barChart.setOption(baroption);
    });
</script>

</body>
</html>