/* here you can put your own css to customize and override the theme */

body{
    font-family: Exo,'Open Sans', sans-serif;
}
.page-content .page-breadcrumb.breadcrumb .dashboard-date-range  {
    position: relative;
    top: -8px;
    margin-right: -30px;
    display: none;
    padding: 9px 9px 8px 9px;
    cursor: pointer;
    color: #fff;
    background-color: gray;
}

.login .content .register-form {
    display: block;
}

.signup .content .form-actions{
    line-height: 2.5;
}
body.login{
    background: #fbfbfb !important;
}
.login .content{
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
}
.img-rounded{
    border-radius:6px !important;
}
.img-circle{
    border-radius: 50% !important;
}
.page-sidebar-menu .start{
    margin-top: 35px;
}

.page-title{
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.header {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0px;
    padding: 0px;
    box-shadow: none;
    height: 50px;
    min-height: 50px;
}

.header .navbar-nav > li {
    margin: 0px;
    padding: 4px;
}

.naonymouse-header .navbar-nav > li{
    padding: 0;
}
.theme-panel {
    width: 400px;
    margin-top: -10px;
    margin-right: 1px;
    z-index: 999;
    float: right;
    position: relative;
}
.portlet.box.light-grey{
    border: 0;
}

.dataTables_paginate.paging_bootstrap{
    float: right;
}
/**
    pace plugin
*/
.pace .pace-progress {
    background: #fe7722;
    position: fixed;
    z-index: 2000;
    top: 50px;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}